@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gl4f2a');
  src:  url('../fonts/icomoon.eot?gl4f2a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gl4f2a') format('truetype'),
    url('../fonts/icomoon.woff?gl4f2a') format('woff'),
    url('../fonts/icomoon.svg?gl4f2a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #1877f2;
}
.icon-linkedin:before {
  content: "\e901";
  color: #0077b5;
}
.icon-skype:before {
  content: "\e902";
  color: #00aff0;
}
.icon-twitter:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-viber:before {
  content: "\e904";
  color: #665cac;
}
.icon-vk:before {
  content: "\e905";
  color: #4680c2;
}
.icon-whatsapp:before {
  content: "\e906";
  color: #25d366;
}
.icon-youtube:before {
  content: "\e907";
  color: #f00;
}
